* {
  color: #0b5394;;
}

.card {

  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    font-size: 39px;
  }


  &_input-form {
    margin-top: 60px;


    input {
      display: inline-block;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #9fc5e8;
      border-radius: 10px;

      &:nth-child(3) {
        border: 1px solid #ffe599;
      }
    }

    span {
      display: inline-block;
      margin: 10px;

    }

    button {
      display: block;
      margin: 30px auto 0;
      padding: 15px 35px;
      border-radius: 10px;
      border: none;
      background-color: #cfe2f3;
      font-weight: bold;
      cursor: pointer;

      &:active {
        background-color: #ffe596;
      }
    }
  }
}

