.words-card {

  display: flex;
  flex-direction: column;
  font-size: 22px;

  &_list {
    margin-top: 30px;

    img {
      margin: 10px;
    }
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

    .remove__svg {
      width: 1rem;
      cursor: pointer;
    }
  }
}