.quest-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   justify-content: center;

  &_title {
    display: block;
    margin: 20px auto;
    flex: 0 1 100%;
  }

  &_variant {
    flex: 0 1 100%;
    display: block;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #cfe2f3;
    font-weight: bold;
    cursor: pointer;
  }
}