.test-card {

  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    font-size: 40px;
  }

  .open-test {
    .butt_start {
      display: block;
      font-size: 24px;
      margin: 80px auto 0;
      padding: 15px 35px;
      border-radius: 10px;
      border: none;
      background-color: #cfe2f3;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #fff2cc;
      }
    }

    &_results {

      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        margin: 30px 0;
      }

      h2 {
        margin: 30px 0;
      }

      p {
        font-weight: bold;
        font-size: 80px;
      }
    }
  }

  .butt_back {
    display: block;
    margin: 10px 0 20px auto;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    background-color: #cfe2f3;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: #fff2cc;
    }
  }


  .question_title {
    font-size: 24px;
  }

}