* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  font-family: 'Roboto', -apple-system, sistem-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

@keyframes opacity02 {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

body {
  background-color: #fff;
}

.dictionary {

  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  min-height: 500px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  box-shadow: 3px 5px 10px #2a2a2a;
  font-size: 14px;

  &__sidebar {
    background-color: #fff;
    width: 230px;
    border-right: 1px solid #f1f1f1;
    border-radius: 10px 0 0 10px;
    padding: 40px 20px 5px 20px;
  }

  &__interactive {
    flex: 1;
    padding: 60px;
    overflow: hidden;
    overflow-y: auto;
    background-color: #f4f6f8;
  }
}