.words-card {

  font-size: 22px;

  &_list {
    margin-top: 30px;

    input {
      padding: 5px;
      background-color: #fff;
      border: 1px solid #9fc5e8;
      border-radius: 10px;
      cursor: auto;
    }

    span {
      display: block;
      margin: 0 5px 0 5px;
    }

    img {
      margin-left: 10px;
    }
  }

  &_item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    cursor: pointer;
  }

}